{% extends "layout.njk" %}

{% block title %}{% endblock %}

{% block content %}
    <link rel="stylesheet" href="/styles/styles.css">
    <div class="wrapper">
        <div class="wrapper_content">
            <div class="wrapper_text">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos
                com receitas criadas por profissionais
                do mundo inteiro
                </p>
            </div>

            <div class="wraper_img">
                <img src="/assets/chef.png" alt="chef">
            </div> 
        </div> 
    </div>

    <article>

        <div id="text">
            <h3>Mais Acessadas</h3>
        </div>

        <section class="receitas">

            {% for item in items%}
            <div class="receita">
                <div class="receita_img">
                    <img src="{{item.image}}" alt="Imagem de {{item.title}}">
                </div>

                <div class="receita_content">
                    <h3>{{item.title}}</h3>
                    <p>{{item.author}}</p>
                </div>
            </div>      
            {% endfor %}

        </section>

    </article>
{% endblock %}