<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css">
    </head>

    <body>
        <header>
            <nav>
                <a class="logo" href="#"><img src="/assets/logo.png" alt="FoodFy"></a>
                <a href="about.html">Sobre</a>
                <a href="receitas.html">Receitas</a>
            </nav>
        </header>

        <div id="wrapper">
            <div id="wrapper_content">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro
                </p>
            </div>  
            <img src="/assets/chef.png" alt="chef">
           
        </div>

        

        <article>
            <div id="text">
                <h3>Mais Acessadas</h3>
            </div>
            <section class="receitas">
                <div class="receita">
                    <div class="receita_img">
                        <img src="/assets/burger.png" alt="img">
                    </div>

                    <div class="receita_content">
                        <h3>Triplo Bacon Burguer</h3>
                        <p>Por Jorge Relato</p>
                    </div>
                </div>

                <div class="receita">
                    <div class="receita_img">
                        <img src="/assets/pizza.png" alt="img">
                    </div>

                    <div class="receita_content">
                        <h3>Pizza 4 estações </h3>
                        <p>Por Fabiana Melo</p>
                    </div>
                </div>

                <div class="receita">
                    <div class="receita_img">
                        <img src="/assets/espaguete.png" alt="img">
                    </div>

                    <div class="receita_content">
                        <h3>Espaguete ao Alho</h3>
                        <p>Por Júlia Kinoto</p>
                    </div>
                </div>

                <div class="receita">
                    <div class="receita_img">
                        <img src="/assets/lasanha.png" alt="img">
                    </div>

                    <div class="receita_content">
                        <h3>Lasanha mac n’ cheese</h3>
                        <p>Por Juliano Vieira</p>
                    </div>
                </div>

                <div class="receita">
                    <div class="receita_img">
                        <img src="/assets/doce.png" alt="img">
                    </div>

                    <div class="receita_content">
                        <h3>Docinhos pão-do-céu</h3>
                        <p>Por Ricardo Golveia</p>
                    </div>
                </div>

                <div class="receita">
                    <div class="receita_img">
                        <img src="/assets/asinhas.png" alt="img">
                    </div>

                    <div class="receita_content">
                        <h3>Asinhas de frango ao barbecue</h3>
                        <p>Por Vania Steroki</p>
                    </div>
                </div>
            </section>
        </article>

        <!-- rodape -->
        <div class="rodape">
            <footer>
                <p>Todos direitos reservados, receitas Foodfy.</p>
            </footer>
        </div>           
    </body>
</html> 