/*==Receitas==*/
article {
    max-width: 940px;
    max-height: 466px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 112px;
}

.receitas {
    cursor: pointer;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-family: Roboto-Regular;
    margin-bottom: 150px;
}

.receita img {
    width: 300px;
    border-radius: 15px;
}

.receita h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 20px;
}

.receita p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 5px;
    color: #777777;
}

