@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

body {
    width: 100vw;
    height: 100vh;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color:#111111;
}

header{
    max-width: 940px;    
    margin: 0 auto;
    margin-top: 31px;
}

nav {
    width: 100vw;
    height: 40px;
    
    display: flex;
    align-items: center;
}

nav a {
    height: 38px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    margin-right: 30px;
    font-family: Roboto-Regular;

    display: grid;
    align-content: center;
}

nav a img {
    margin-right: 122px;
}


nav a:hover{
    color:rgb(128, 123, 123);
    transition: color 200ms;
}

/*==wrapper==*/
.wrapper {
    max-width: 940px;
    max-height: 366px;
    margin: 0 auto;
    margin-top: 36px;
    border-radius: 30px;
    background-color: #FBDFDB;
    font-family: Roboto;
 
    align-content: space-between;
}

.wrapper_content {
    position: aboslute;
    display: flex;
}

.wrapper_text h1 {
    font-family: Roboto-Bold;
    font-size: 32px;
    color: #111111;
    line-height: 38px;
    size: 305px;
    padding: 0;
    margin: 67px 259px 10px 60px;
    width: 305px;
}

.wrapper_text p {
    opacity: 0.7;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    padding: 0;
    height: 84px;
    width: 316px;
    margin: 0px 117px 10px 60px;
}

.wrapper_img {
    position: relative;
    max-height: 300px;
    width: 216px;
    padding: 0;
    margin-top: 36px;
    margin-left: 248px;
}

#text h3 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    width: 212px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 0px;
}

/*==Receitas==*/
article {
    max-width: 940px;
    max-height: 466px;
    margin: 0 auto;
    margin-top: 50px;
}

.receitas {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    font-family: Roboto-Regular;
}

.receita img {
    width: 300px;
    height: 130px;
    border-radius: 15px;
}

.receita h3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 20px;
}

.receita p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 5px;
    color: #777777;
}

/*==Footer==*/
.rodape {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    height: 62px;
    margin-bottom: 0;
    background-color: #EEEEEE;

    display: grid;
    align-items: center;
}

footer p {
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

